* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
  text-decoration: none;
}
@font-face {
  font-family: msmadi;
  src: url("../media/font/MsMadi-Regular.ttf");
}
#header {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #323653;
  color: #fe67db;
  width: 100%;
  min-height: 20vh;
  padding: 10px 0 15px 0;
  font-family: "msmadi", Arial, Helvetica, sans-serif;
  font-size: 15px;
  font-weight: 700;
}

.foto {
  width: 70px;
  margin-bottom: 10px;
  padding-bottom: 10px;
}
#nav {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 10vh;
  position: sticky;
  top: 0;
  background-color: #ffffff99;
}
#nav ul {
  display: flex;
  list-style: none;
  justify-content: space-evenly;
  width: 100%;
  font-family: Arial, Helvetica, sans-serif;
}
.navlink {
  color: #323653;
  font-weight: bold;
}
.navlink:hover {
  color: #fe67db;
  text-decoration: overline;
}
/* header done! */

main {
  width: 100%;
}
article {
  width: 100%;
  text-align: center;
  margin: 20px 0 40px 0;
  color: #323653;
  font-family: Arial, Helvetica, sans-serif;
}
article h2 {
  margin: 10px;
}
article p {
  margin: 20px;
}
#pictruck,
#picfood,
#picfood2 {
  width: 80%;
}

/* main Done! */

#footer {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
  width: 100%;
  background-color: #323653;
  color: #fe67db;
  font-family: Arial, Helvetica, sans-serif;
}
#footerpartcontainer {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
  height: 100%;
  margin-bottom: 30px;
}
.footerpart {
  width: 90%;
  height: 30vh;
  margin: 40px 0;
}
iframe {
  width: 100%;
  height: 100%;
}
dt {
  font-weight: bold;
}
dd {
  margin-left: 40px;
}
.footerlink {
  color: #ffffff;
}
.footerlink:hover {
  color: #ef97da;
  text-decoration: underline;
}

#form {
  width: 100%;
  height: 100%;
}

#contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  padding: 20px;
}
.contactinfo {
  width: 60%;
  padding: 2px;
  padding-left: 10px;
  margin: 10px 0;
}

#copyright {
  margin-top: 20px;
  margin-bottom: 30px;
  font-size: 15px;
  padding: 20px;
}
@media screen and (min-width: 768px) {
  #header {
    flex-direction: row;
    justify-content: space-evenly;
    min-height: 15vh;
    font-size: 35px;
  }
  article {
    margin: 20px 0 40px 0;
  }
  article h2 {
    font-size: 40px;
  }
  article p {
    margin: 40px 75px;
    font-size: 25px;
  }
  #pictruck,
  #picfood,
  #picfood2 {
    width: 40%;
    background-color: #323653;
  }
  .foto {
    width: 150px;
    margin-bottom: 0;
  }
  .navlink {
    font-size: 30px;
  }

  .footerpart {
    font-size: 20px;
    padding-top: 10px;
  }
  .contactinfo {
    padding: 2px;
    padding-left: 10px;
    font-size: 15px;
  }
  #copyright {
    margin-bottom: 20px;
    font-size: 20px;
  }
}

@media screen and (min-width: 980px) {
  #pictruck,
  #picfood,
  #picfood2 {
    width: 50%;
  }
  #footer {
    width: 100%;
  }
  #footerpartcontainer {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    height: 100%;
    margin: 0;
  }
  .footerpart {
    width: 30%;
    height: 40vh;
    font-size: 15px;
  }
  .contactinfo {
    font-size: 10px;
  }
  #copyright {
    margin: 0;
    margin-bottom: 15px;
    font-size: 15px;
    padding: 0;
  }
}
